[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pm4py = "*"
flask = "*"
pathlib = "*"
werkzeug = "==0.16.1"
swagger-ui-py = "==0.3.0"

[dev-packages]

[requires]
python_version = "3.7"
